b{
    font-weight: 500;
    display: block;
}

.wrap{
    position: relative;
    background:url(../images/bg.jpg) no-repeat;
    background-size: cover;

    /* background-color: rgba(0,0,0,0.05); */
}
#link_wrap_slide{
    display: none;
}
.inner{
    max-width: 1600px;
    margin: 0 auto;
    padding:0 50px;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-direction: row;
}
.flex_co{
    display: flex;
    flex-direction: column;
}
.fp-tableCell{
    vertical-align: top;
}

.inner_line{
    width: 100%;
    max-width: 1600px;
    height: 100%;
    border-left: 1px solid rgba(0,0,0,0.5);
    border-right: 1px solid rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
/* swiper */
/* slick */

.slick-dots > li{
    color: #999;
}
.slick-dots li.slick-active{
    color: #333;
}

.slick-dots > li > button{
    border: none;
    margin-right: 20px;
}

.slick-arrow{
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.slick-prev{
    position: absolute;
    top: 7px;
    right: 150px;
    border: none;
}

.slick-arrow::after{
    content: '';
    font-size: 1rem;
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(225deg);
    top: 0;
    left: 0;
}
.slick-next{
    position: absolute;
    top: 7px;
    right: 0;
    border: none;
}
.slick-next::after{
    transform: rotate(45deg);
    left: auto;
    right: 15px;
}
/* nav */

#fp-nav{
    top: 60px;
    margin-top: 0 !important;
    position: absolute;
    z-index: 0;
}

.fp-viewing-0 #fp-nav{
    display: none;
}
@keyframes nav_hide{
    0%{ z-index: -1;
    }
    90%{z-index: -1;}
    100%{z-index: 0;
    }
}
#fp-nav.right{
    right: 210px;
}
#fp-nav ul li, .fp-slidesNav ul li{
    display: block;
    width: 0;
    height: 0;
    margin: 0;
    padding-bottom: 34px;
    /* padding-bottom: 3.6vh; */
    position: relative;
}
#fp-nav ul li a, .fp-slidesNav ul li a{
    z-index: 1;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    border-radius: 0;
    position: relative;
    z-index: 1;
    height: 0;
    width: 0;
    border: 0;
    background: none;
    left: 0;
    top: 0;
    margin: 0;
    margin-bottom: 10px;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
    height: 0;
    width: 0;
    margin: 0;
    border-radius: 0;
}
#fp-nav ul li a span::before{
    content:'';
    font-size: 24px;
    /* font-size: 2.5vh; */
    color: #aaa;
    font-weight: 200;
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
}
#fp-nav ul li a.active span::before{
    color: #222;
    font-weight: 500;
}
#fp-nav ul li:nth-child(1) a span::before{
    content:'INTRO';
}
#fp-nav ul li:nth-child(2) a span::before{
    content:'PROJECT';
}
#fp-nav ul li:nth-child(3) a span::before{
    content:'GRAPHIC';
}
#fp-nav ul li:nth-child(4) a span::before{
    content:'CLONE CODING';

}

/*********************home****************************/

#home{
    box-sizing: border-box;
}
.top_txt{
    justify-content: space-between;
    /* font-size: 0.75rem; */
    font-weight: 300;
    border-top: 1px solid rgba(0,0,0,0.5); 
    border-bottom: 1px solid rgba(0,0,0,0.5); 
    /* padding: 10px 50px; */
    padding: 1vh 50px;
}
.home_title{
    position: relative;
    font-family: 'Abril Fatface', cursive;
    /* font-size: 11.1112rem; */
    /* font-size: 13vw; */
    font-size: 21vh;
    line-height: 1em;
    text-align: center;
    /* padding-top: 40px; */
    padding-top: 3vh;
    padding-bottom: 5.4vh;
    /* padding-bottom: 75px; */
}
.link_wrap{
    /* border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; */
    border-top: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    position: relative;
    /* background-color: #fff; */
    background: url(../images/bg.jpg) no-repeat;
    background-size: fill;
    z-index: 1;
}

.link_wrap .link_wrap_bg:nth-child(1){
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #222;
    transition: 0.5s;
    z-index: -1;
}
.link_wrap .link_wrap_bg:nth-child(2){
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #222;
    transition: 0.5s;
    z-index: -1;
}
.link_wrap.black .link_wrap_bg{
    height: 50%;
}
.link_wrap .link_wrap_inner a{
    transition: 0.5s;
}
.link_wrap .link_wrap_inner a.white_txt{
    color: #fff !important;
}
.link_wrap .link_wrap_inner a.white_txt >p > span{
    color: #fff !important;
}
.link_wrap .link_wrap_inner a.black_txt{
    color: #222;
}
.link_wrap .link_wrap_inner a.black_txt >p > span{
    color: #222;
}

.link_wrap_inner{
    margin: 0 auto;
    max-width: 1400px;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    text-align: center;
    
}

.link_wrap_inner a >p > span{
    font-size: 0.75rem;
    color: #666;
}

.home_cont_wrap{
    max-width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    height: 56vh;
}
.info_me{
    width: 33.35%;
    padding: 30px;
    box-sizing: border-box;
    /* justify-content: center;
    align-items: center; */
}
.info_me_graph{
    justify-content: center;
    margin-bottom: 20px;
}
.info_me_graph img{
    width: 260px;
    text-align: center;
    /* height: 70%; */
}
.info_me_skill{
    justify-content: center;
}
.skill_wrap{
    width: 100%;
    flex-wrap: wrap;
}
.skill_btn{
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    /* line-height: 40px;
    height: 40px; */
    border-radius: 30px;
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.1);
    margin-right: 15px;
    margin-bottom: 10px;
    transition: 0.5s;
    cursor: default;
    font-size: 0.889rem;
    background-color: #fff;
}
.skill_btn:hover{
    background-color: rgba(0,0,0,0.2);
}
.profile{
    align-items: center;
    width: 33.3%;
    height: 100%;
    justify-content: center;
    border-right: 1px solid rgba(0,0,0,0.5);
    padding-left: 1px;
}
.profile .img_box{
    overflow: hidden;
    width: 100%;
}

.profile_img:hover{
    transform: scale(1.5);
}
.profile_img{
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100%;
    background-image: url(../images/profile_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: -20px -100px; */
    background-position: center;
    transition: 0.5s;
}
.profile a{
    display: block;
    position: relative;
    font-size: 0.75rem;
    padding: 10px 0;
}
.profile a:hover .arrow_right{
    width: 130%;
    transition: 0.5s;
}
.profile a:hover .arrow_right > span::after{
    opacity: 1;
    transition: 0.4s 0.3s;
}
.profile a .arrow_right{
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 0%;
    height: 30px;
    overflow: hidden;
}
.profile a .arrow_right > span{
    display: block;
    width: 90%;
    background-color: #222;
    height: 4px;
    position: relative;
    top: 25px;
    border-radius: 15px;
}
.profile a .arrow_right > span::after{
    content: '';
    position: absolute;
    right: -6px;
    bottom: 8px;
    width: 25px;
    height: 4px;
    border-radius: 15px;
    transform: rotate(50deg);
    background-color: #222;
    opacity: 0;
}
.profile_cont_wrap{
    width: 33.3%;
    box-sizing: border-box;
    /* justify-content: center; */
    border-right: 1px solid rgba(0,0,0,0.5);
    padding: 30px;
}
.introduce_me_tit{
    font-size: 2rem;
    /* font-size: 3.8vh; */
    line-height: 1.15em;
    margin-bottom: 20px;
}
.introduce_me_txt{
    /* font-size: 0.75rem; */
    line-height: 1.5em;
    margin-bottom: 30px;
    /* margin-bottom: ; */
}
.profile_cont_wrap > span, .info_me >span{
    display: block;
    /* font-size: 0.75rem; */
    line-height: 1.15em;
    /* margin-bottom: 20px; */
    margin-bottom: 2.1vh;
    font-weight: 700;
    color: #212529;
}
.contetc_me{
    justify-content: space-around;
}
.contetc_me .icon_wrap{
    align-items: center;
}
.contetc_me .icon_wrap span{
    font-size: 0.8889rem;
}
.kakao_qr{
    height: 10.6vh;
    margin-bottom: 1vh;
}
.resume_icon, .email_icon{
    height: 10.6vh;
    margin-bottom: 1vh;
}
.txt_ani{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.txt_ani textPath{
    font-size: 25px;
    letter-spacing: -0.055em;
}
.txt_ani svg{
    width: 300px;
    height: 300px;
    animation: rotate 10s infinite linear;
}
@keyframes rotate{
    0%{transform:rotate(360deg);}
    100%{transform:rotate(0deg);}
}

/*********************section****************************/

#fullpage{
    height: 100vh !important;
}
.section{
    height: 100vh !important;

}
.section .header{
    /* padding-top: 70px; */
    padding-top: 7.4vh;
    padding-bottom: 3.2vh;
    /* padding-bottom: 30px; */
    position: relative;    
    /* margin-bottom: 60px; */
    margin-bottom: 6.4vh;
    width: 100%;
}
.section .header::after{
    content: '';
    position: absolute;
    left: -210px;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    width: 140%;
    height: 1px;

}
.section .header .tit{
    font-size: 4.1667rem;
    /* font-size: 10.6vh; */
    font-family: 'Abril Fatface', cursive;
    line-height: 1.15em;
    position: relative;
}
.section .tit::after{
    content: 'PROJECT';
    font-family: 'Abril Fatface', cursive;
    font-size: 4.1667rem;
    /* font-size: 10.6vh; */
    line-height: 1.15em;
    position: absolute;
    top: 22px;
    left: 30px;
    z-index: -1;
    color: #fff;
}


/* s1 */
.s1{
    overflow: hidden;
}
.s1 .slick-slider{
    padding-top: 50px;
}
.s1 .slick-dots{
    position: absolute;
    top: 0px;
    right: 20px;
    display: flex;
}
.s1 .slick-dots >li{
    font-size: 1.5rem;
}
.s1 .slick-dots li.slick-active::after{
    content: '';
    display: block;
    background: #333;
    width: 15px;
    height: 2px;
    margin-top: 3px;
}
.s1 .s1_slide_cmt{
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;
}
.s1 .s1_slide_cont_wrap{
    justify-content: space-between;
}
.s1 .s1_slide_txt_wrap{
    width: 38%;
}
.s1_slide_txt_txt_box{
    margin-bottom: 30px;
}

.s1 .s1_video_box{
    width: 60%;
    align-items: center;
}
.s1 .s1_video_box video{
    width: 100%;
    border: 1px solid rgb(0,0,0);
    box-sizing: border-box;
}
.s1 .s1_slide_img_box{
    width: 60%;
    /* height: 512px; */
    height: 54.6vh;
    border: 1px solid rgb(0,0,0);
    overflow: hidden;
}

.s1 .s1_slide_img_box img{
    position: relative;
    width: 100%;
    top: 0;
    transform: translateY(0);
    z-index: -1;
}
.s1 .s1_slide_txt_tit_box{
    margin-bottom: 50px;
}
.s1 .s1_slide_txt_tit_box >span{
    /* font-size: 0.75rem; */
    font-weight: 300;
    color: #999;
}
.s1 .s1_slide_txt_tit{
    font-size: 2.5rem;
    line-height: 1.15em;

    /* margin-bottom: 50px; */
}

.s1 .s1_slide_txt{
    margin-bottom: 20px;
    align-items: center;
}
.s1 .s1_slide_txt strong{
    display: inline-block;
    font-weight: 700;
    width: 25%;
    font-size: 1.12rem;
}
.s1 .s1_slide_txt span{
    /* font-size: 0.75rem; */
}
.s1 .s1_slide_txt_btn_wrap .btn{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 50px;
    /* font-size: 0.75rem; */
    margin-top: 10px;
    margin-right: 20px;
    border: 1px solid rgba(0,0,0,0.5);
}

.s1 .s1_slide_txt_btn_wrap .btn:hover{
    background-color: #222;
    color: #fff;
    transition: 0.5s;
}


/* s2 */
.mo_graphic_box{
    display: none;
}
.pc_graphic_box, .mo_graphic_box{
    margin-bottom: 50px;
}

.s2 .s2_slide_cmt{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}
.swiper-button-next, .swiper-button-prev{
    position: absolute;
    top: 50%;
    background: #999;
    opacity: 0.7;
    width: 50px;
    height: 50px;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-family: swiper-icons;
    font-size: 1.5rem;
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
    color: #333;
}
.s2{
    position: relative;
}
.s2 #s2_slide{
    height: 512px;
}
.s2 .s2_tit::after{
    content: 'GRAPHIC';
}
.s2 .tabs{
    padding-left: 50px;
    padding-top: 90px;
}
.s2 .tabs >li{
    margin-right: 30px;
}
.s2 .tabs a{
    color: #999;
}
.s2 .tabs a.on{
    color: #222;
}
.s2 .box_wrap{
    display: grid;
    height: 500px;
    /* height: 53.3vh; */
    /* grid-template-columns: 1fr 1fr 1fr 423px 500px; */
    grid-template-columns: 11.75% 11.75% 11.75% 26% 31.25%;
    /* grid-template-rows: 235px 235px; */
    grid-template-rows: 47% 47%;
    gap: 30px;
    grid-template-areas:
        'area1 area2 area3 area4 area6'
        'area1 area2 area3 area5 area6';
}
.s2 .box_wrap .box1{grid-area: area1;}
.s2 .box_wrap .box2{grid-area: area2;}
.s2 .box_wrap .box3{grid-area: area3;}
.s2 .box_wrap .box4{grid-area: area4;}
.s2 .box_wrap .box5{grid-area: area5;}
.s2 .box_wrap .box6{grid-area: area6;}
.s2 .box_wrap .box7{grid-area: area7;}

.s2 .all2{
    gap: 30px;
    grid-template-columns: 10% 10% 30% 20% 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        'area1 area1 area2 area6 area7 '
        'area5 area4 area3 area6 area7 ';
    padding-left: 20px;
}
.s2 .box_wrap.all2 .modal img{
    object-fit: cover;
}

/* .s2 .all2 .box1{
    width: 313px;
}
.s2 .all2 .box2{
    width: 446px;
}
.s2 .all2 .box3{
    width: 470px;
    margin-left: 50px;
}
.s2 .all2 .box4{
    width: 192px;
    margin-left: -100px;
}
.s2 .all2 .box5{
    width: 235px;
}
.s2 .all2 .box6{
    width: 386px;
    height: 490px;
    margin-left: -190px;
}
.s2 .all2 .box7{
    width: 231px;
    height: 490px;
    margin-left: -300px;
} */

.s2 .box_wrap a{
    display: block;
    position: relative;
    overflow: hidden;
}
.s2 .box_wrap .box1 img,.s2 .box_wrap .box2 img,.s2 .box_wrap .box3 img{
    width: 100%;
    /* height: auto; */
}
.s2 .box_wrap .detailed_page1 img, .s2 .box_wrap .detailed_page1_2 img, .s2 .box_wrap .detailed_page2 img{
    height: auto;
}
.s2 .box_wrap a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.s2 .modal_hover_txt{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    opacity: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    text-align: center;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.s2 .modal_hover_txt p{
    margin-bottom: 30px;
}
.s2 .modal_hover_txt span{
    text-decoration: underline;
}
.s2 .box_wrap .modal:hover .modal_hover_txt{
    opacity: 1;
}
.pop{
    width:100%;
    height: 100vh;
    position:absolute;
    left:0;
    top:0;
    background:rgba(0,0,0, 0.6);
    z-index:9999999;
    display:none;
}
.pop .img{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%); 
    text-align:center;

}
.pop .img img{
    display:block;
    width: 100%;

}
.pop.detailed_page .img{
    width: 40%;
    height: 80vh;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%); 
    text-align:center;
    overflow: auto;
}
.pop.banner2 .img{
    width: 45%;
}
.pop.long_banner .img{
    width: 360px;
}
.pop .btn{
    margin:20px 0;
    text-align:center;
}
.pop .btn button{
    position: absolute;
    top: 0px;
    right: -50px;
    font-size: 0;
    border: none;
    width: 40px;
    height: 40px;
    border: 3px solid #999;
    border-radius: 50%;
}
.pop .btn .close span{
    font-size: 0;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #ccc;
    border-radius: 10px;
    position: absolute;
    top: 16px;
    left: 7px;
}
.pop.detailed_page .btn button{
position: absolute;
top: 10%;
left: 72%;
font-size: 0;
border: none;
width: 40px;
height: 40px;
border: 3px solid #999;
border-radius: 50%;
}
.pop .btn .close span:nth-child(1){
    transform: rotate(45deg);
}
.pop .btn .close span:nth-child(2){
    transform: rotate(-45deg);
}


#clone_coding .s1_tit::after{
    content: 'CLONE CODING';
}

@keyframes intro_top{
    0%{top: 50%;}
    100%{top: 100%;}
}
@keyframes intro_bottom{
    0%{bottom: 50%;}
    100%{bottom: 100%;}
}
@media all and (max-height:767px){
    .wrap{
        height: 100%;
        overflow-x: hidden;
    }
    #home{
        padding-top: 0;
    }
    .section{
        padding-top: 50px;
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }
    .s1 .top_txt,.s2 .top_txt{
        display: none;
    }
    .link_wrap{
        display: none;
    }
    #link_wrap_slide{
        display: block;
    }
    /* .home_cont_wrap{
        border-bottom: 1px solid rgba(0,0,0,0.5);
    } */
    .info_me_graph img{
        width: 230px;
    }
    .top_txt{
        padding: 8px 50px;
    }
    .home_title{
        padding-top: 23px;
        padding-bottom: 40px;
        font-size: 160px;
    }
    .link_wrap_inner{
        height: 80px;
    }
    .home_cont_wrap{
        height: 430px;
    }
    .profile_cont_wrap{
        padding: 30px;
    }
    .section .header{
        padding-top: 0;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
    .kakao_qr,.resume_icon, .email_icon{
        height: 80px;
    }
}
@media all and (max-width:1600px){
    #fp-nav.right{
        right: 20px;
    }

}



@media all and (max-width:1180px){
    .kakao_qr, .resume_icon, .email_icon{
        height: 80px;
    }
    .wrap{
        height: 100%;
        overflow-x: hidden;
    }
    #link_wrap_slide{
        display: block;
        padding: 0 50px;
    }
    .section{
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }
    .home_cont_wrap{
        /* border-bottom: 1px solid rgba(0,0,0,0.5); */
        flex-wrap: wrap;
        height: auto;
    }
    .profile{
        width: 100%;
    }
    .profile_img{
        width: 100%;
        padding-bottom: 100%;
    }
    .profile_cont_wrap{
        border-right: none;
        width: 50%;
        padding: 3.2vh 50px;
    }
    .info_me {
        width: 50%;
    }
    /* .home_title{
        border-bottom: 1px solid rgba(0,0,0,0.5);
    } */
    .link_wrap{
        display: none;
        /* padding: 0 20px; */
    }
    .s1 .top_txt,.s2 .top_txt{
        display: none;
        
    }
    .s2 .box_wrap{
        height: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 160px 160px 300px;
        gap: 20px;
        grid-template-areas:
        'area1 area2 area3 area4 area4'
        'area1 area2 area3 area5 area5'
        'area1 area2 area3 area6 area6'
        ;
    }
    .modal{
        overflow: hidden;
    }
    .s2 .modal_hover_txt{
        display: none;
    }
    .s2 .all2{
        gap: 20px;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 160px 240px 300px;
        grid-template-areas:
            'area1 area3 area7 '
            'area2 area2 area7 '
            'area6 area4 area5 ';
        padding-left: 20px;
    }
    /* .s2 .detailed_page1,.s2 .detailed_page1_2, .s2 .detailed_page2 {
        height: 80%;
    } */
}

@media all and (max-width:768px){
    .pop.detailed_page .btn button{
        left: 92%;
    }
    .profile_img:hover{
        transform: scale(1);
    }
    .intro_txt .word{
        font-size: 2.5rem;
    }

    .main_pop_up{
        width: 80%;
    }
    #home{
        padding-top: 0px;
    }
    .section{
        padding-top: 30px;
    }
    .inner{
        padding: 0 10px;
    }
    .pc_graphic_box{
        display: none;
    }
    .mo_graphic_box{
        display: block;
    }
    #link_wrap_slide{
        display: none;
    }
    .top_txt{
        padding: 10px;
    }
    .profile_cont_wrap{
        width: 100%;
        padding: 30px 10px;
        margin-bottom: 30px;
    }
    .info_me{
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
    }
    .skill_btn{
        margin-right: 8px;
    }
    .home_title{
        font-size: 23vw;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }

    .profile{
        width: 100%;
    }
    .profile_img{
        width: 100%;
        padding-bottom: 100%;
    }
    .section .header::after{
        left: -10px;
    }
    .section .header .tit{
        font-size: 2.5rem;
    }
    .section .tit::after{
        font-size: 2.5rem;
        white-space: nowrap;
    }
    .s1 .s1_slide_cont_wrap{
        flex-wrap: wrap;
    }
    .s1 .s1_slide_txt_wrap{
        width: 100%;
    }
    .s1 .s1_video_box{
        width: 100%;
        margin-bottom: 30px;
    }
    .s1 .s1_slide_img_box{
        width: 100%;
        margin-bottom: 30px;
    }
    .s1 .s1_slide_txt_tit{
        font-size: 2rem;
    }
    .s1 .s1_slide_txt{
        flex-wrap: wrap;
    }
    .s1 .s1_slide_txt:nth-child(2) strong,.s1 .s1_slide_txt:nth-child(3) strong{
        margin-bottom: 5px;
    }
    .s1_slide_txt_btn_wrap{
        margin-bottom: 30px;
    }
    .s1 .s1_slide_txt_tit_box{
        margin-bottom: 30px;
    }


    .s2 .box_wrap{
        height: 100vh;
        padding: 0px 10px;
    }
    .s2 .detailed_page1, .s2 .detailed_page1_2, .s2 .detailed_page2{
        height: 40%;
        width: 45%;
    }
    .s2 .box_wrap .long_banner{
        width: 45%;
    }
    .s2 .all{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }
    .s2 .all2{
        display: flex;
        flex-direction: column;
    }
    .s2 .all3{
        display: flex;
        flex-direction: column;
    }
    .s2 .all4{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }
    .s2 .box_wrap .pop_1 {
        width: 45%;
    }
    .s2 .box_wrap .pop_2 {
        width:45%;
    }
    .s2 .box_wrap .banner1 {
        width: 45%;
    }
    .s2 .box_wrap .banner3{
        width:45%;
    }
    .pop .img{
        width: 80%;
    }
    .pop.banner2 .img{
        width: 80%;
    }
    .pop.detailed_page .img{
        width: 80%;
    }
    .pop.long_banner .img{
        width: 70%;
    }
}
@media all and (max-width:400px){

    .pop.detailed_page .btn button{
        top: 3%;
        left:75%;
    }
    .pop .btn button{
        top: -50px;
        right: 0;
    }
    .home_title{
        font-size: 23vw;
    }
    .s1 .s1_slide_txt strong{
        width: 30%;
    }
    .s1 .s1_slide_txt:nth-child(2) strong, .s1 .s1_slide_txt:nth-child(3) strong, .s1 .s1_slide_txt:nth-child(3) strong{
        margin-bottom: 5px;
    }
    .s1 .s1_slide_txt_btn_wrap .btn {
        padding: 10px 10px;
        margin-right: 10px;
    }
    #clone_coding .header .tit{
        font-size: 2.3rem;
        letter-spacing: -0.05em;
    }
    #clone_coding .s1_tit::after{
        font-size: 2.3rem;
        letter-spacing: -0.05em;
    }
}